@mixin app-target-dashboard-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  bes-target-dashboard {
    mat-list.mat-list.mat-list-base {
      .mat-subheader {
        color: mat-color($foreground, base);
        background-color: rgb(237, 237, 237);
      }
    }
  }
}
