<bes-summary-bar [items]="metadata$ | async"></bes-summary-bar>

<div class="bes-wrapper" fxLayout="column">
  <div>
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
  </div>
  <router-outlet (activate)="routeActivated = true" (deactivate)="routeActivated = false"></router-outlet>
  <div *ngIf="!routeActivated" class="bes-welcome-container" fxLayout="column" fxLayoutAlign="center center">
    <mat-icon>search</mat-icon>
    <p>Select a tab to view further target details</p>
  </div>
</div>
