@mixin highlight($line-highlight-bg, $line-highlight-fg) {
  background-color: $line-highlight-bg;
  color: $line-highlight-fg;
}

@mixin app-console-view-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $warn: map-get($theme, warn);

  $line-highlight-fg: white;
  $line-highlight-bg: #444;

  bru-console-view {
    .bru-console-view {
      background-color: black;
      color: white;

      &-line {
        &.highlight {
          @include highlight($line-highlight-bg, $line-highlight-fg);

          .bru-console-view-gutter {
            @include highlight($line-highlight-bg, $line-highlight-fg);
          }
        }
      }

      &-content {

      }

      &-gutter {
        color: #585858;

        &:hover {
          color: $line-highlight-fg;
        }

        &:focus {
          @extend :hover;
          outline: none;
        }
      }
    }
  }
}
