cdk-virtual-scroll-viewport {
  height: calc(100vh - 251px);
}

.bru-console-view {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;

    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
  }

  &-gutter {
    width: 48px;
    padding-right: 18px;
    user-select: none;
    text-align: right;
    vertical-align: top;
    cursor: pointer;
  }

  &-content {
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
}
