@mixin mat-icon-size($size) {
  height: $size;
  width: $size;
  font-size: $size;
  line-height: $size;
}

mat-list.mat-list {
  mat-list-item.mat-list-item {
    height: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.bru-target-metadata-container {
  height: calc(100vh - 251px);
  overflow: auto;

  h3.mat-subheader {
    top: 0;
    z-index: 10;
    position: sticky;
  }
}
