:host {
  display: block;
}

.bru-status-container {
  padding: 0 24px;
  height: 30px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.bru-status-container:not(.bru-status-running):not(.bru-status-queued) {
  border-top-style: solid;
  border-top-width: 4px;
}
