<mat-progress-bar *ngIf="status === 'running' || status === 'queued'"
                  [mode]="indeterminate === true ? 'indeterminate' : status === 'queued' ? 'indeterminate' : 'determinate'"
                  [value]="progress">
</mat-progress-bar>
<div class="bru-status-container bru-status-{{ status }}"
     fxLayout="column"
     fxLayoutAlign="center"
     fxLayoutGap="12px">
  <div fxLayout fxLayoutAlign="start center" fxLayoutGap="6px">
    <span>{{ title }} {{ status }}</span>
  </div>
</div>
