@import 'external/npm/node_modules/@angular/material/theming';

@import 'app.theme';

$orange: (
    50 : #ffeee0,
    100 : #ffd4b3,
    200 : #ffb780,
    300 : #ff9a4d,
    400 : #ff8526,
    500 : #ff6f00,
    600 : #ff6700,
    700 : #ff5c00,
    800 : #ff5200,
    900 : #ff4000,
    A100 : #ffffff,
    A200 : #fff5f2,
    A400 : #ffcbbf,
    A700 : #ffb7a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($orange);
$accent: mat-palette($mat-blue-grey);

$light-theme: mat-light-theme($primary, $accent);

@include mat-core();

@mixin themes($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  body {
    background-color: mat-color($background, background);
  }

  .bru-subtitle {
    color: mat-color($foreground, secondary-text);
    font-size: .8rem;
    font-weight: 800;
  }

  @include angular-material-theme($theme);
  @include app-theme($theme);
}

// default theme
@include themes($light-theme);

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
}

.bru-loading-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
