@import '~@angular/material/theming';
@import 'ev_theme';

@import 'app.theme';
@import 'home/home.theme';
@import 'common/common.theme';
@import 'bes-dashboard/bes-dashboard.theme';
@import 'bes-dashboard/target-dashboard/target-dashboard.theme';
@import 'bes-dashboard/invocation-dashboard/target-details/target-details.theme';
@import 'bes-dashboard/invocation-dashboard/invocation-dashboard.theme';
@import 'bes-dashboard/invocation-dashboard/invocation-log/invocation-log.theme';
@import 'bes-dashboard/invocation-dashboard/invocation-details/invocation-details.theme';

@include mat-core();

@mixin core($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  body {
    background-color: mat-color($background, background);
  }

  .bes-subtitle {
    color: mat-color($foreground, secondary-text);
    font-size: .8rem;
    font-weight: 800;
  }
}

@mixin themes($theme) {
  @include angular-material-theme($theme);

  @include core($theme);

  @include app-theme($theme);
  @include app-common-theme($theme);
  @include app-home-theme($theme);
  @include app-bes-dashboard-theme($theme);
  @include app-target-details-theme($theme);
  @include app-invocation-dashboard-theme($theme);
  @include app-invocation-log-theme($theme);
  @include app-invocation-details-theme($theme);
  @include app-target-dashboard-theme($theme);
}

// default theme
@include themes($ev-light-theme);

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
}

.bes-loading-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
