@import 'target-details/target-details.theme';
@import 'invocation-log/invocation-log.theme';
@import 'invocation-details/invocation-details.theme';

@mixin app-invocation-dashboard-theme($theme) {
  @include app-target-details-theme($theme);
  @include app-invocation-log-theme($theme);
  @include app-invocation-details-theme($theme);

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  $success-color: #66bb6a;

  bru-invocation-dashboard {
    .bru-welcome-container {
      mat-icon {
        color: mat-color($primary, default, .56);
      }
    }
  }
}
