@mixin mat-icon-size($size) {
  height: $size;
  width: $size;
  font-size: $size;
  line-height: $size;
}

.bru-wrapper {
  height: calc(100% - 60px);
  overflow: auto;
}

.bru-welcome-container {
  height: calc(100vh - 255px);
  overflow: hidden;

  mat-icon {
    @include mat-icon-size(60px);
  }
}
