:host {
  height: calc(100vh - 251px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bes-target-list-header {
  height: 30px;
  padding: 0 16px;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  .bes-target-list-header-item {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
  }

  .bes-target-search {
    input {
      width: 100%;
      border: 0;
      font-size: 13px;
      outline: 0;
      -webkit-appearance: unset;
    }
  }
}

.bes-target-details-loading-container {
  width: 100%;
}

.bes-target-details-scroll-viewport {
  height: calc(100vh - 219px);
}

mat-list.mat-list {
  min-height: 0;

  mat-list-item.mat-list-item {
    height: 30px;
    outline: none;

    &.bes-target-clickable {
      cursor: pointer;
    }
  }
}

.bes-target-details-row {
  width: 100%;
  height: 30px;

  $mat-icon-size: 16px;
  mat-icon.bes-test-result-icon {
    height: $mat-icon-size;
    width: $mat-icon-size;
    font-size: $mat-icon-size;
    line-height: $mat-icon-size;
  }

  .bes-target-details-item {
    padding-left: 12px;
    padding-right: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}