@mixin mat-icon-size($size) {
  height: $size;
  width: $size;
  font-size: $size;
  line-height: $size;
}

:host {
  display: block;
}

.bru-info-header-container {
  padding: 0 24px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  height: 60px;

  span:focus {
    outline: none;
  }

  .bru-item-link {
    cursor: pointer;
    text-decoration: underline;
  }

  mat-icon {
    @include mat-icon-size(6px);
  }

  a {
    color: inherit;
  }
}
