<mat-list dense>
  <ng-container *ngIf="(details$ | async) as details">
    <h3 matSubheader>Invocation details</h3>
    <mat-list-item>
      <div class="bru-invocation-details-item-name" fxFlex="0 0 144px">Patterns</div>
      <div fxFlex>
        <span>{{ details.pattern?.join(' ') }}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="bru-invocation-details-item-name" fxFlex="0 0 144px">Bazel Version</div>
      <div fxFlex>
        <span>{{ details.buildToolVersion }}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="bru-invocation-details-item-name" fxFlex="0 0 144px">Workspace Directory</div>
      <div fxFlex>
        <span>{{ details.workspaceDirectory }}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let item of details.metadata | keyvalue">
      <div class="bru-invocation-details-item-name" fxFlex="0 0 144px">{{ item.key }}</div>
      <div fxFlex>
        <span>{{ item.value }}</span>
      </div>
    </mat-list-item>
  </ng-container>

  <ng-container *ngIf="(hostDetails$ | async) as hostDetails">
    <h3 matSubheader>Host Details</h3>
    <mat-list-item>
      <div class="bru-invocation-details-item-name" fxFlex="0 0 144px">CPU</div>
      <div fxFlex>
        <span>{{ hostDetails.cpu }}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="bru-invocation-details-item-name" fxFlex="0 0 144px">Platform</div>
      <div fxFlex>
        <span>{{ hostDetails.platformName }}</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>

  <ng-container *ngIf="(workspaceStatus$ | async) as workspaceStatus">
    <h3 matSubheader>Workspace status</h3>
    <ng-container *ngFor="let item of workspaceStatus; let last = last;">
      <mat-list-item>
        <div class="bru-invocation-details-item-name" fxFlex="0 0 144px">{{ item.key }}</div>
        <div fxFlex>
          <span>{{ item.value }}</span>
        </div>
      </mat-list-item>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="(details$ | async)?.makeVariables as make">
    <h3 matSubheader>Make variables</h3>
    <ng-container *ngFor="let item of make | keyvalue; let last = last;">
      <mat-list-item>
        <div class="bru-invocation-details-item-name" fxFlex="0 0 144px">{{ item.key }}</div>
        <div fxFlex>
          <span>{{ item.value }}</span>
        </div>
      </mat-list-item>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="(commandLine$ | async) as commandLine">
    <h3 matSubheader>Canonical command line</h3>
    <mat-list-item>
      <div class="bru-invocation-details-item-name" fxFlexAlign="start" fxFlex="0 0 144px">Executable</div>
      <div fxFlex>
        {{ commandLine.sections.executable?.join(' ') }}
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="bru-invocation-details-item-name" fxFlexAlign="start" fxFlex="0 0 144px">Command</div>
      <div fxFlex>
        {{ commandLine.sections.command?.join(' ') }}
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="bru-invocation-details-item-name" fxFlexAlign="start" fxFlex="0 0 144px">Startup Arguments</div>
      <div fxFlex class="bru-invocation-details-flags">
        <div *ngFor="let arg of commandLine.sections.startupArgs">
          <span class="bru-invocation-details-details-option">--{{ arg.optionName }}&nbsp;=&nbsp;</span>
          <span class="bru-invocation-details-details-option-value">{{ arg.optionValue }} </span>
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="bru-invocation-details-item-name" fxFlexAlign="start" fxFlex="0 0 144px">Command Arguments</div>
      <div fxFlex class="bru-invocation-details-flags">
        <div *ngFor="let arg of commandLine.sections.commandArgs">
          <span class="bru-invocation-details-details-option">--{{ arg.optionName }}&nbsp;=&nbsp;</span>
          <span class="bru-invocation-details-details-option-value">{{ arg.optionValue }} </span>
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <div class="bru-invocation-details-item-name" fxFlexAlign="start" fxFlex="0 0 144px">Residual</div>
      <div fxFlex>
        {{ commandLine.sections.residual?.join(' ') }}
      </div>
    </mat-list-item>
  </ng-container>
</mat-list>
