:host {
  height: calc(100vh - 251px);
  display: flex;
  overflow: hidden;
}

.bes-fetched-scroll-viewport {
  height: calc(100vh - 219px);
}

mat-nav-list.mat-nav-list {
  min-height: 0;

  a.mat-list-item {
    height: 30px;
  }
}
