@mixin app-summary-bar-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  bru-summary-bar {
    .bru-summary-bar-container {
      background-color: mat-color($background, app-bar);
      border-bottom-color: mat-color($foreground, divider);

      .bru-summary-item {
        border-right-color: mat-color($foreground, divider);
      }

      mat-icon.bru-summary-icon {
        color: mat-color($foreground, divider);
      }
    }
  }

}
