<div class="bru-summary-bar-container" fxLayout="row">
  <ng-content select="bru-summary-item[align='start']"></ng-content>
  <ng-container *ngFor="let item of items; trackBy: _itemTrackBy">
    <div class="bru-summary-item" fxLayout="column" fxLayoutAlign="center" fxFlex="1 1">
      <span class="bru-subtitle">{{ item.key }}</span>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
        <mat-icon class="bru-summary-icon" *ngIf="item.icon">{{ item.icon }}</mat-icon>
        <span class="bru-summary-item-value" [ngSwitch]="item.transform"
              [routerLink]="item.link" [ngClass]="{ 'bru-item-link': !!item.link }">
          <span *ngSwitchDefault>{{ item.value | valueAsAsyncValue | async | dash }}</span>
          <span *ngSwitchCase="'titlecase'">{{ item.value | valueAsAsyncValue | async | titlecase }}</span>
          <span *ngSwitchCase="'date'">{{ item.value | valueAsAsyncValue | async | date:'medium' }}</span>
        </span>
        <button *ngIf="item.canCopy" mat-icon-button
                (click)="onCopyClick(item.value)"
                title="Copy {{ item.key | lowercase }} to clipboard">
          <mat-icon>content_copy</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
  <ng-content select="bru-summary-item[align='end']"></ng-content>
</div>
