@mixin app-invocation-dashboard-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  $success-color: #66bb6a;

  bes-invocation-dashboard {
    .bes-welcome-container {
      mat-icon {
        color: mat-color($primary, default, .56);
      }
    }
  }
}