:host {
  height: calc(100vh - 251px);
  display: flex;
  overflow: hidden;
}

.bes-label-log-loading-container {
  width: 100%;
}

.bes-label-log-scroll-viewport {
  height: calc(100vh - 219px);
}

mat-list.mat-list {
  mat-list-item.mat-list-item.bes-log-item {
    height: 30px;

    span {
      white-space: pre-wrap;
    }
  }
}

.bes-log-gutter {
  height: 30px;
  width: 50px;
  text-align: right;
  padding: 0 6px;
}

a.bes-log-gutter-link {
  text-decoration: none;
  font-family: monospace;
  font-size: .9em;
}