@mixin app-invocation-details-theme($theme) {
  $foreground: map-get($theme, foreground);
  $warn: map-get($theme, warn);

  bes-invocation-details {
    mat-list.mat-list.mat-list-base {
      .mat-subheader {
        color: mat-color($foreground, base);
        background-color: rgb(237, 237, 237);
      }
    }

    .bes-invocation-details {
      &-item-name,
      &-details-option {
        color: mat-color($foreground, secondary-text);

        &-value {
          color: mat-color($foreground, text);
        }
      }
    }

    .bes-invocation-details-cmd-exe,
    .bes-invocation-details-cmd-cmd,
    .bes-invocation-details-cmd-res {
      color: mat-color($foreground, text);
    }
  }
}
