@mixin app-invocation-log-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $warn: map-get($theme, warn);

  bru-invocation-log {
    .bru-invocation-log {
      background-color: #333;

      &-line {
        &:hover {
          background-color: lighten(#333, 10%);
        }
      }

      &-item {
        color: whitesmoke;
      }

      &-gutter {
        background-color: mat-color($background, app-bar);
        color: mat-color($foreground, secondary-text);

        &:hover {
          background-color: darken(mat-color($background, app-bar), 10%);
        }

        a {
          color: mat-color($foreground, secondary-text);

          &:active {
            background-color: darken(mat-color($background, app-bar), 10%);
          }
        }
      }
    }
  }
}
